@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-primary: #c5890e;
  --color-accent: #c5890e;

  --font-inter: "Inter", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}

.antigravity-float {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
}